<%# ユーザー登録ページ %>
<div class="flex justify-center">
  <%= form_with model: @user do |f| %>
      <label class="input input-bordered flex items-center my-3">
      <%= f.text_field :last_name, class:"grow", placeholder: "姓" %>
    </label>

        <label class="input input-bordered flex items-center my-3">
      <%= f.text_field :first_name, class:"grow", placeholder: "名" %>
    </label>

    <label class="input input-bordered flex items-center my-3">
      <%= f.email_field :email, class:"grow", placeholder: "メールアドレス" %>
    </label>

    <label class="input input-bordered flex items-center my-3">
      <%= f.password_field :password, class: "grow", placeholder: "パスワード" %>
    </label>

    <label class="input input-bordered flex items-center my-3">
      <%= f.password_field :password_confirmation, class: "grow", placeholder: "パスワード確認用"  %>
    </label>

    <div class="flex justify-center w-full">
      <%= f.submit "登録", class:"btn btn-outline btn-info my-3" %>
    </div>
  <% end %>
</div>
<div class="flex justify-center my-3">
  <%= link_to 'ログインページへ', login_path, class: "link link-primary" %>
</div>
